# .gitignore for .NET
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# Artifacts/build logs
build_out*.txt
build_errors*.txt
build_output*.txt
*.log
